In [5]:
# import googlemaps
# from datetime import datetime
# import pandas as pd
# import numpy as np
# gmaps = googlemaps.Client(key='AIzaSyC9KxxPj7aklmlY5iulTO1YhricrOiQYEo')

# # Look up an address with reverse geocoding
# reverse_geocode_result = gmaps.reverse_geocode((40.708932, -73.776983))

In [13]:
#use uszip https://pypi.org/project/uszipcode/
from uszipcode import SearchEngine
from uszipcode import Zipcode
import pandas as pd
import numpy as np

In [11]:
## load smaller set coordinates
dfcoordsm = pd.read_csv("DOBdf2coord.csv", header = None, names= ["longitude", "latitude", "count"])

In [12]:
dfcoordsm.head(3)

   longitude   latitude  count
0 -73.895624  40.873595      5
1 -73.768705  40.752458      3
2 -73.971598  40.754660    170

In [17]:
search = SearchEngine(simple_zipcode=True)
result = search.by_coordinates(lat0, long0, radius=1, returns=10)

Start downloading data for simple zipcode database, total size 9MB ...
  1 MB finished ...
  2 MB finished ...
  3 MB finished ...
  4 MB finished ...
  5 MB finished ...
  6 MB finished ...
  7 MB finished ...
  8 MB finished ...
  9 MB finished ...
  10 MB finished ...
  Complete!

In [18]:
result

[SimpleZipcode(zipcode='10468', zipcode_type='Standard', major_city='Bronx', post_office_city='Bronx, NY', common_city_list=['Bronx'], county='Bronx County', state='NY', lat=40.87, lng=-73.9, timezone='Eastern', radius_in_miles=1.0, area_code_list=['718'], population=76103, population_density=70778.0, land_area_in_sqmi=1.08, water_area_in_sqmi=0.02, housing_units=26178, occupied_housing_units=24909, median_home_value=171200, median_household_income=33776, bounds_west=-73.91929, bounds_east=-73.884855, bounds_north=40.882923, bounds_south=40.856015),
 SimpleZipcode(zipcode='10458', zipcode_type='Standard', major_city='Bronx', post_office_city='Bronx, NY', common_city_list=['Bronx'], county='Bronx County', state='NY', lat=40.86, lng=-73.89, timezone='Eastern', radius_in_miles=2.0, area_code_list=['718'], population=79492, population_density=78784.0, land_area_in_sqmi=1.01, water_area_in_sqmi=0.0, housing_units=27806, occupied_housing_units=26201, median_home_value=330300, median_household_income=24618, bounds_west=-73.899949, bounds_east=-73.877418, bounds_north=40.878545, bounds_south=40.850949)]

In [37]:
dfcoordsm.shape

(166443, 3)

In [48]:
dfcoordsm["zip1"] = pd.Series([""]*166443, index = dfcoordsm.index)
dfcoordsm["zip2"] = pd.Series([""]*166443, index = dfcoordsm.index)

In [50]:
dfcoordsmR = dfcoordsm.copy()

In [63]:
dfcoordsmR=dfcoordsmR.sort_values(by=['latitude', 'longitude']).reset_index()

In [64]:
dfcoordsmR.head(3)

    index  longitude   latitude  count zip1 zip2
0   99107 -74.241495  40.498807      1
1  120517 -74.240597  40.498982      2
2   77400 -74.240579  40.498987      1

In [78]:
for ind in dfcoordsmR.index.values:
    if ind%5000 ==0:
        print(ind)
    lati = dfcoordsmR.loc[ind, "latitude"]
    longi = dfcoordsmR.loc[ind, "longitude"]
    result = search.by_coordinates(lati, longi, radius=2, returns=10)
    c = len(result)
    if c>=1:
        dfcoordsmR.loc[ind, "zip1"] = result[0].zipcode
    if c>=2:
        dfcoordsmR.loc[ind, "zip2"] = result[1].zipcode

0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000
105000
110000
115000
120000
125000
130000
135000
140000
145000
150000
155000
160000
165000

In [82]:
(dfcoordsmR["zip2"]!="").sum()#there are 502 zip codes missing, small figure

160599

In [80]:
dfcoordsmR.tail(3) #there are 1906 rows that did not have longitude and latitude, also small figure

         index  longitude   latitude  count   zip1   zip2
166440  146287 -73.904570  40.913642      3  10705  10471
166441   24643 -73.904845  40.913711      3  10705  10471
166442   35426        NaN        NaN   1906

In [85]:
dfcoordsmR.drop(columns=["index"]).to_csv('dfcoordsmR.csv', index=False)